.letter {
  font-family: 'Marker Felt' , sans-serif;
  font-size: 50px;
  position: relative;
  top: 100px;
  left: 500px;
}

h1 {
  font-size: 78px;
  margin: 0 0 20px;
  color: #0C4569;
  top: -58px;
  left: -220px;
  position: relative;
}

.title {
  font-size: 80px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 50px;
  top: 87px;
  color: #0394be;
}

.symbols {
  font-size: 180px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 25px;
  top: 214px;
}

.explanation {
  font-size: 50px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 18px;
  top: 252px;

}
.example {
  font-size: 50px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  top:  317px;
  left: 30px;
  color: #ff0000;

}
.add {
  font-size: 180px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 479px;
  top: 192px;
  color: #0394be;
}
.right {
  font-size: 180px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 694px;
  top: 167px;
}


.step1 {
  font-size: 60px;
  position: relative;
  left: 40px;
  top: 344px;
  font-family: 'Marker Felt' , sans-serif;
  text-decoration: underline red;
}

.step2 {
  font-size: 60px;
  position: relative;
  left: 40px;
  top: 393px;
  font-family: 'Marker Felt' , sans-serif;
  text-decoration: underline red;
}


.step3 {
  font-size: 60px;
  position: relative;
  left: 40px;
  top: 427px;
  font-family: 'Marker Felt' , sans-serif;
  text-decoration: underline red;
}

button {
  left: 650px;
  top: 447px;
  background-color: #0394be;
  height: 72px;
  width: 132px;
  font-family: "Hoefler Text",;
  color: #ffffff;
  font-size: 35px;
  position: relative;
}

.quizName {
  font-family: "Times New Roman", Times, serif;"
}



.slickQuiz {
  left: 100px;
  top: 100px;
}
