h3 {
  font-size: 18px;
  font-weight: 400;

}

p {
  font-size: 14px;
  font-family: 'Bangers', cursive;

h5{
  font-size: 12px;
}


font-family:
font-weight:
font-style:

font-family: 'Bangers', cursive;
