body {
  background-color:#F8E825;
  margin: 0
  padding: 0;
}

.container {
  width:1068px;
  height: 1024px;
  margin:0 auto;
  margin-left: auto;
  margin-right: auto;

}
.main-area {
  display: flex;

}
.bangers {
  font-family: 'Bangers', cursive;
  font-size: 200px;
  position:relative;
  right: 150px;
}

.large-letter-group-relative {
  position: relative;
  bottom: 20px;
  left: 30px;
  top: -10px;
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.title {
  color: #0000EE;
  font-family: 'Bangers', cursive;
  font-size: 275px;
  text-align: center;
}

}
.large-letter-group .item-relative {
  position: relative;
  left: 80px;
  bottom: 15px;
}
.large-letter-group h1 {
  width: 100px;
  margin-top: -1px;
  margin-left: 140px;
  margin-bottom: 0;
  font-family: 'Bangers', cursive;
  font-size: 1400px;
  font-style: normal;
  color: #ffffff;
  margin-right: 0px;
  display: flex;
  align-items: flex-end;
  flex-wrap:wrap;
  position: relative;
  right: -15px;
}

}
.large-letter-group {
  padding-left: 20px;
}

.large-letter-group button {
  height: 65px;
  width: 180px;
  background-color: ##ffffff;
  font-family: 'Bangers', cursive;
  font-size: 55px;
  z-index: 100px;
  position: absolute;
  left: 200px;
  top: 115px
}
#exclamation-button {
  position: absolute;
  top: 200px;

}
.text {
  margin-top: 150px;
  width: 480px;
  font-size: 150px;
  font-family: 'Bangers', cursive;
  color:  #F51010;
  position: relative;
}
.left-column {
  width: 550px;

}
.left-column p {
  font-family: 'Bangers', cursive;
  font-style:normal;
  font-size: 28px;
  color: #F51010;
  position: relative;
  top: 10px;
}

#left-column {
  position: relative;
  left: 500px;
}


#large-letter-group {
  position: absolute;
  left: 30px;
}

#h1 {
  position: relative;
  left: 50px;
}
.letter-container img {
  position: absolute;
  z-index: 99l
  top: 100px;
  left: 100px;
}

#letter-analysis {
  position: relative;
  z-index: 99;
  bottom: 1350px;
  left: 184px;
  visibility: hidden;
}

#letter-analysis.visible {
  visibility: visible;
}


.main-area {
  display: flex;
}

footer {
  display: flex;
  height:218px;
  width:1000px;
  bottom: 0px;
  margin-top: 100px;
}
footer-relative {
  position: relative;
  right: 40px;
  top: 15px;
}
footer img {
  height: 335px;
  width: 500px;
  background-color: #F4A2ED;
  position: absolute;
  top: 1865px;
}
#footer {
  position: relative;
  bottom: 50%;
}

#button {
  position:relative;
  top: -2358px;
  left: -24px;
  color: #F51010;
}


footer .square {
  margin-left: 30px;
  justify-content: center;
  color: #F51010;
  position: relative;
  bottom: 993px;
  left: 507px;
  font-family: 'Bangers', cursive;
  font-size: 20px;
}
.square-relative {
  position: relative;
  right: 30px;
}
.rectangle-relative {
  position: relative;
  right: 60px;
}
footer .sources {
  font-family: 'Bangers', cursive;
  font-size: 40px;
  color: #F51010;
  position: relative;
  left: 507px;
  bottom: 972px;

}

footer .rectangle {
  height: 176px;
  width: 215px;
  margin-left: 20px;
  font-size: 12px;
  color: #F51010;
  position: relative;
  top: -907px;
  right: -661px;
  font-family:'Bangers', cursive;
}
