.letter {
  font-family: 'Marker Felt' , sans-serif;
  font-size: 50px;
  position: relative;
  top: 8px;
  left: 500px;
}

.title {
  font-size: 80px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 197px;
  top:-18px;
  color: #0394be;
}

.symbols {
  font-size: 180px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 197px;
  top:20px;
}

.explanation {
  font-size: 50px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 188px;
  top: -336px;

}
.example {
  font-size: 50px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  top: -264px;
  left: 186px;
  color: #ff0000;

}
.add {
  font-size: 180px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 640px;
  top:-192px;
  color: #0394be;
}
.right {
  font-size: 180px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 845px;
  top:-398px;
}


.step1 {
  font-size: 60px;
  position: relative;
  left: 191px;
  top: -202px;
  font-family: 'Marker Felt' , sans-serif;
  text-decoration: underline red;
}

.step2 {
  font-size: 60px;
  position: relative;
  left: 191px;
  top: -182px;
  font-family: 'Marker Felt' , sans-serif;
  text-decoration: underline red;
}


.step3 {
  font-size: 60px;
  position: relative;
  left: 191px;
  top: -160px;
  font-family: 'Marker Felt' , sans-serif;
  text-decoration: underline red;
}

button {
  left: 1039px;
  top: 18px;
  background-color: #0394be;
  height: 72px;
  width: 132px;
  font-family: "Hoefler Text",;
  color: #ffffff;
  font-size: 35px;
  position: relative;
}

.quizName {
  font-family: "Times New Roman", Times, serif;"
}



.slickQuiz {
  left: 100px;
}
