.letter {
  font-family: "Hoefler Text",;
  font-size: 50px;
  position: relative;
  top: 8px;
  left: 500px;
}

.title {
  font-size: 80px;
  font-family: "Hoefler Text",;
  position: relative;
  left: 197px;
  top:-18px;
  color: #0394be;
}

.symbols {
  font-size: 180px;
  font-family: "Hoefler Text",;
  position: relative;
  left: 197px;
  top:20px;
}

.explanation {
  font-size: 50px;
  font-family: "Hoefler Text",;
  position: relative;
  left: 188px;
  top: -336px;

}
.example {
  font-size: 50px;
  font-family: "Hoefler Text",;
  position: relative;
  top: -264px;
  left: 186px;
  color: #ff0000;

}
.add {
  font-size: 180px;
  font-family: "Hoefler Text",;
  position: relative;
  left: 640px;
  top:-192px;
  color: #0394be;
}
.right {
  font-size: 180px;
  font-family: "Hoefler Text",;
  position: relative;
  left: 845px;
  top:-398px;
}


.step1 {
  font-size: 60px;
  position: relative;
  left: 191px;
  top: -202px;
}

.step2 {
  font-size: 60px;
  position: relative;
  left: 191px;
  top: -182px;
}


.step3 {
  font-size: 60px;
  position: relative;
  left: 191px;
  top: -160px;
}
.next {
  font-size: 40px;
  font-family: "Hoefler Text",;
  position: relative;
  left: 1086px;
  top: 47px;
}

.quizName {
  font-family: "Times New Roman", Times, serif;"
}



.slickQuiz {
  left: 100px;
}
