
.letter {
  font-family: "Hoefler Text",;
  font-size: 50px;
  position: relative;
  top: 8px;
  left: 500px;
}
.square {
  background-color: #0394be
}
.title {
  font-size: 80px;
  font-family: "Hoefler Text",;
  position: relative;
  left: 197px;
  top:-18px;
}

.symbols {
  font-size: 180px;
  font-family: "Hoefler Text",;
  position: relative;
  left: 197px;
  top:20px;
}

.explanation {
  font-size: 50px;
  font-family: "Hoefler Text",;
  position: relative;
  left: 188px;
  top: 109px;

}
.example {
  font-size: 50px;
  font-family: "Hoefler Text",;
  position: relative;
  top: 195px;
  left: 186px;
}

.next {
  font-size: 40px;
  font-family: "Hoefler Text",;
  position: relative;
  left: 1239px;
  top: 307px;
}
