.letter {
  font-family: 'Marker Felt' , sans-serif;
  font-size: 50px;
  position: relative;
  top: 8px;
  left: 500px;
  background-color: aliceblue;

}

.title {
  font-size: 80px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 197px;
  top:-18px;
  color: #0394be;
  background-color: #ed143d;

}

.right {
  font-size: 180px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 683px;
  top: -473px;
}
.symbols {
  font-size: 180px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 202px;
  top:-53px;
  background-color: #6495ed;


}

.divider {
  font-size: 180px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 576px;
  top:-254px;
  color: #0394be;
}
.explanation {
  font-size: 50px;
  font-family:'Marker Felt' , sans-serif;
  position: relative;
  left: 188px;
  top: 283px;
  background-color: #0394be;


}
.example {
  font-size: 50px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  top: -260px;
  left: 186px;
  color: #ff0000;
  background-color: #deb887;

}

.step1 {
  font-size: 60px;
  position: relative;
  left: 191px;
  top: -202px;
  font-family: 'Marker Felt' , sans-serif;
  text-decoration: underline red;
  background-color: pink;

}

.step2 {
  font-size: 60px;
  position: relative;
  left: 191px;
  top: -182px;
  font-family: 'Marker Felt' , sans-serif;
  text-decoration: underline red;
  background-color: pink;


}


.step3 {
  font-size: 60px;
  position: relative;
  left: 191px;
  top: -160px;
  font-family: 'Marker Felt' , sans-serif;
  text-decoration: underline red;
  background-color: pink;

}

button {
  left: 1039px;
  top: 18px;
  background-color: #0394be;
  height: 72px;
  width: 132px;
  font-family: "Hoefler Text",;
  color: #ffffff;
  font-size: 35px;
  position: relative;
}
