.first-title {
  font-family: 'Marker Felt' , sans-serif;
  font-size: 63px;
  position: relative;
  top: 192px;
  left: 874px;
  color: #ffffff
}
.container {
  background-color: #0394be;
  height: 800px;
}
.PEMDAS {
  font-size: 195px;
  font-family: 'Marker Felt' , sans-serif;
  color: #ffffff;
  position: relative;
  left: 759px;
  top: 225px;
}

.symbols {
  font-size: 221px;
  font-family: 'Marker Felt' , sans-serif;
  position: relative;
  left: 649px;
  top: 250px;
  color: #ffffff;
  z-index: 99px;

}

.next {
  position: relative;
  top: 50px;
  left: -190px;
  width: 1000px;
  height: 1500px;
}

.mnemonic {
  position: relative;
  left: 1070px;
  top: -1203px;
  color: #0394be;
  font-size: 20px;
  font-family: 'Marker Felt' , sans-serif;

}

.arantheses {
  position: relative;
  left: 1117px;
  top: -1623px;
  color: #0394be;
  font-size: 15px;
  font-family: 'Marker Felt' , sans-serif;

}

.xponents {
  position: relative;
  left: 1118px;
  top: -1610px;
  color: #0394be;
  font-size: 15px;
  font-family: 'Marker Felt' , sans-serif;

}

.ultiplication {
  position: relative;
  left: 1119px;
  top: -1589px;
  color: #0394be;
  font-size: 15px;
  font-family: 'Marker Felt' , sans-serif;
}

.ivision {
  position: relative;
  left: 1119px;
  top: -1566px;
  color: #0394be;
  font-size: 15px;
  font-family: 'Marker Felt' , sans-serif;
}

.ddition {
  position: relative;
  left: 1115px;
  top: -1552px;
  color: #0394be;
  font-size: 15px;
  font-family: 'Marker Felt' , sans-serif;
}

.ubtraction {
  position: relative;
  left: 1115px;
  top: -1532px;
  color: #0394be;
  font-size: 15px;
  font-family: 'Marker Felt' , sans-serif;
}

.explanation {
  font-family: 'Marker Felt' , sans-serif;
  font-size: 25px;
  height: 900px;
  width: 550px;
  right: -1072px;
  position: relative;
  top: -629px;
  color: #0394be;

}

img {
  position: relative;
  font-family: "Hoefler Text" ,;
  color: #000000;
  font-size: 15px;
  height: 947px;
  width: 811px;
  top: 204px;
  right: -190px;
}

button {
  left: 1623px;
  top: -1399px;
  background-color: #0394be;
  height: 72px;
  width: 132px;
  font-family: 'Marker Felt' , sans-serif;
  color: #ffffff;
  font-size: 35px;
  position: relative;
}
