.letter {
  font-family: "Hoefler Text",;
  font-size: 50px;
  position: relative;
  top: 8px;
  left: 500px;
  Background-color: #A03BD5
}

.title {
  font-size: 80px;
  font-family: "Hoefler Text",;
  position: relative;
  left: 197px;
  top:-18px;
  background-color: #F73C6E
}

.symbols {
  font-size: 180px;
  font-family: "Hoefler Text",;
  position: relative;
  left: 197px;
  top:20px;
  background-color: #F42222;
}

.explanation {
  font-size: 50px;
  font-family: "Hoefler Text",;
  position: relative;
  left: 188px;
  top: 109px;
  background-color: #F59B09

}
.example {
  font-size: 50px;
  font-family: "Hoefler Text",;
  position: relative;
  background-color: #E01313;
  top: 195px;
  left: 186px;
}

.next {
  font-size: 40px;
  font-family: "Hoefler Text",;
  position: relative;
  left: 1239px;
  top: 307px;
  background-color: #5EC0CC;
}
